.App__dashboard-background { 
    width: 100%; 
    height: 100%; 

    background-color: var(--dark-theme-tertiary);
}

.dashboard-background__topbar-container { 
    width: 100%; 
    height: 60px;

    background-color: var(--dark-theme-secondary);

    border-radius: 0 0 15px 15px;

    box-shadow: 0 0 8px 5px var(--dark-theme-quaternary);
}

.dashboard-background__bottombar-container { 
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%; 
    height: calc(100% - 60px);

    overflow: hidden;
}